parameters:
  phpVersion: 80200
  level: 0
  paths:
    - Concentrate
    - scripts
    - tests
  excludePaths:
    # relies on a deleted package, and some specific paths
    - tests/test.php
  editorUrl: '%%file%%:%%line%%'
  editorUrlTitle: '%%file%%:%%line%%'
  errorFormat: table

# Checks from higher levels that we want to include here
# Level 2
  checkClassCaseSensitivity: true
  checkPhpDocMissingReturn: true
#  checkThisOnly: false
# Level 3
  checkPhpDocMethodSignatures: true
# Level 5
  checkFunctionArgumentTypes: true
